/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Georgia', serif;
    background-color: #121212;
    color: #f5f5f5;
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Header Styles */
.main-header {
    text-align: center;
    background-color: #1c1c1e;
    color: #ff4081;
    padding: 30px 0;
    border-bottom: 5px solid #ff4081;
}

.main-header h1 {
    font-family: 'Playfair Display', serif;
    font-size: 3.5em;
    color: #fff;
}

.main-header p {
    font-size: 1.3em;
    font-style: italic;
    color: #f5f5f5;
}

/* Slideshow Styles */
.slideshow-container {
    position: relative;
    max-width: 50%;
    margin: 40px auto;
    text-align: center; /* Center the images */
}

.slides {
    display: none;
}

.slide-image {
    width: 50%; /* Adjust this percentage to control the size of the image */
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.5);
    border: 5px solid #ff4081;
    margin: 0 auto; /* Center the image horizontally */
    display: block;
}

/* Navigation Arrows */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    user-select: none;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Content Styles */
.content {
    margin-top: 40px;
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.content h2 {
    text-align: center;
    font-size: 2.5em;
    color: #ff4081;
}

.content p {
    font-size: 1.2em;
    color: #e0e0e0;
    margin-bottom: 20px;
}

/* Achievements Section */
.achievements {
    margin-top: 40px;
    background-color: #2b2b2b;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
}

.achievements h2 {
    text-align: center;
    font-size: 2.2em;
    color: #ff4081;
}

.achievements ul {
    list-style-type: none;
    padding-left: 0;
}

.achievements ul li {
    padding: 10px 0;
    border-bottom: 1px solid #ff4081;
    font-size: 1.2em;
    color: #e0e0e0;
}

/* Footer Styles */
.footer {
    text-align: center;
    margin-top: 40px;
    font-size: 1.2em;
    font-style: italic;
    color: #ff4081;
    padding: 20px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .main-header h1 {
        font-size: 2.5em;
    }

    .content h2 {
        font-size: 1.7em;
    }

    .achievements h2 {
        font-size: 1.7em;
    }

    .slide-image {
        width: 80%; /* Adjust the width for smaller screens */
    }
}
